// Menu
// --------------------------------------------------
.site-nav-toggle {
  padding-top: 2px;
  position: static;
  float: right;
}


.menu {
  float: right;
  padding-top: 3px;
  margin-bottom: 0px;
  margin-top: 0px;

  
 
  +mobile() {
    margin: 0;
    padding: 0;

  }

  br { display: none; }

  .menu-item {
    margin: 0;

    +mobile() { display: block; }
  }

  .menu-item a {
    padding: 5px 10px;
    background: none;
    border: none;
    transition-property: background;



    +mobile() {
      background-color: $whitesmoke;
      margin-right: -10px;
      padding: 10px 10px;
      text-align: center;
      font-size: 20px;
    }

    /*&:hover { background: #e1e1e1; }*/
  }

  a::before {
      display: none;

      +mobile() { display: block; }
    }

  +mobile() { float: none; }
}

.menu-left {
  float: left;
  +mobile() { float: none; }
}

.menu-item-icon { display: none; 
  +mobile() {
    display: inline;
    
  }
}
